@import url('https://fonts.google.com/specimen/Barlow+Semi+Condensed');
$font_family: 'Barlow Semi Condensed', sans-serif;
$phone: 375px;
$desktop: 1440px;

$moderate_violet: hsl(263, 55%, 52%);

$very_dark_grayish_blue: hsl(217, 19%, 35%);

$very_dark_blackish_blue: hsl(219, 29%, 14%);

$white: hsl(0, 0%, 100%);

$light_gray: hsl(0, 0%, 81%);

$light_grayish_blue: hsl(210, 46%, 95%);
